*.atf
*.abf
*.csv
*.swc
*.xlsx
*.png
*.mat
*.TIF
*.bmp
*.EVT
*.txt
*.rlt
*.ASC
*.Fit
*.pro
*.dat
*.stp
*.spf
*.eps
*.pdf
*.pyc
*.traces
*.tif
*.tiff
*.jpg
*.fig
*.ims
*.RData
*.tar*
*.hoc
*.pkl
*.pptx
*.html
._*
*checkpoint*
neuron_morphology_TXD/sholl/.*
neuron_morphology_TXD/image
patch/Axon Files
patch/process
patch/labBook
neuron_morphology_TXD/sholl/filament_statistics_preferences_files
